##
# OS Files
##

.DS_Store
.Trashes
ehthumbs.db
Thumbs.db

##
# Databases
##

*.sqlite

##
# Logs
##

*.log

##
# Packages
##

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

##
# Ruby Files
##

/.bundle/
/.yardoc
/_yardoc/
/pkg/
/spec/internal/log/
/spec/internal/tmp/
/tmp/
/travis/gemfiles/*.gemfile.lock
